<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% cssFiles.forEach(function(src) { %>
      <link rel="stylesheet" href="/<%= src %>">
    <% }) %>
    <%- initStyles %>
</head>

<body>
    <div id="app"><%- initContent %></div>
    <script>
		<%- manifestContent %>
    </script>
    <script>
		var INIT_PROPS = <%- initProps %>;
    </script>
    <% scripts.forEach(function(src) { %>
    <script src=/<%= src %>></script>
    <% }) %>
</body>

</html>
